*{
    padding: 0;
    margin: 0;
}

.bg-img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.overlay {
  display: flex;
  z-index: 2;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  
}

a {
    color: rgb(215, 102, 61);
    font-size: small;
}


h1,label ,h4 ,h6{
    color: rgb(102, 60, 6);
  font-family: 'Montserrat', sans-serif;
}

.form-container {
    position: relative;
    border-radius: 12px;
    background-color:rgba(255, 255, 255, 0.836) ;
    display: flex;
     padding: 2rem;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    max-width: 90vh;
    overflow-x: auto;
    width: 90%;
    max-height: 800px;
    height: 80vh;
    z-index: 3;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
   
}
 input {
  border-radius: 9px;
  border: 1px solid rgb(69, 135, 130); 
  height: 30px;
  width: 180px;
    
}
#item1  {
  position: absolute;
  top: 0%
}
#item2 {
  
  position: absolute;
  top: 20%;
}
#item3 {
  position: absolute;
  top: 57%;
}
.item4 {
  position: absolute;
  top: 38%;
}
#item5 {
  position: absolute;
  top: 74%;
}
#item6 {
  position: absolute;
  top: 88%;
}

.sign-btn{
    width: 178px;
    height: 33px;
    background-color: antiquewhite;
    border: none;
    border-radius: 9px;
}
 .sign-btn:hover{
    width: 170px;
    height: 35px;
    color: antiquewhite;
    background-color: rgb(100, 66, 28);
    border: none;
    border-radius: 9px;
}
label {
  font-size: small;
}
 p {
  font-size: small;
  color:rgb(101, 54, 25)
 }
 .item-text {
  color:rgb(101, 54, 25);
  margin-right: 56%;
 }
.err {
  font-size: x-small;
  margin-right: 20%;
}