* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.top-text  h1 {
    margin-top: clamp(2rem,5rem,10rem);
    margin-left: -10rem;
}
 
.top-text h3 {
    margin-top: 3rem;
    margin-right: 1rem;
}

.navbar-toggle-btn, .navbar-close-btn {
    display: none;
}

.navbar-container {
    position: fixed;
    background-color: rgb(255, 255, 255);
    height: 5vh;
    display: flex;
    gap: 5%;
    z-index: 100;
}

.navbar-container h2 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-size: 17px;
    color: rgb(21, 75, 82);
}

.navbar-btn {
    position: relative;
    margin-top: 0.1rem;
    border-radius: 14px;
    color: rgba(34, 122, 118, 0.993);
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 1.1rem;
    width: 10%;
    height: 30px;
}
.navbar-btn:hover {
    color: white;
    background-color:rgba(38, 139, 134, 0.79) ;
}


@media (max-width: 805px) {
  .navbar-toggle-btn  {
    display: block;
  
  }

  
.navbar-container {
  position: fixed;
  top: 0;
  left: -850px;
  width: 290px;
  height: 100%;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.354);
  transition: left 0.3s ease;
  padding: 1rem;
  z-index: 1000;
}

.navbar-container.open {
  display: flex;
  gap: 4.5rem;
  flex-direction: column;
  left: 0;
  
}

.navbar-toggle-btn {
 background-color: rgba(12, 12, 12, 0);
 border-color: black;
 border-radius:10px ;
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  font-size: 3rem;
  
  border: none;
  color: rgb(251, 247, 247);
  cursor: pointer;
  z-index: 1100;
}

.navbar-close-btn {
  display: block;
  font-size: 2rem;
  background: none;
  border: none;
  color: rgb(255, 247, 247);
  margin-left: 80%;
  cursor: pointer;
}

.navbar-btn {
    width: 250px;
    height: 50px;
    border-radius: 27px;
    border:1px solid rgb(24, 98, 73);
    background-color: rgb(239, 250, 246);
}
 
.navbar-btn:hover {
  color: white;
  background-color: rgb(50, 148, 133);
} 
    

    .navbar-container:not(.open) .nav-btn {
    display: none;
  }

  .navbar-container:not(.open) .nav-close-btn {
    display: none;
  }

}


html h3 {
    font-family: 'Montserrat', sans-serif;;
}



.text-home {
    position: relative;
    margin-top: 6rem;
}

.text-home h2  {
    color: aliceblue;
    margin-left: 5rem;

}

.btn button {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(36, 102, 117, 0);
    width: 100px;
    height: 20px;
    border-radius: 12px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.btn button:hover {
    border: none;
    border-radius: 12px;
      color: rgb(36, 102, 117); 
    background-color:  rgb(249, 252, 252);;
    font-family: Arial, Helvetica, sans-serif;
}

.black {
    position: relative;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.356);
}
.homepage-plan {
    
    position: relative;
    height: 60vh;
    width: 100%;
} 
.toggle-btn  {
    color: black;
}


.bgd-img {
  position: relative;
  margin-left: 0.5%;
  width: 99%;
  height: 60vh;
  object-fit: cover;
  z-index: 1;
  border-radius: 13px;
  background-color: rgba(240, 248, 255, 0.511);
}

.overlay-plan {
  position: relative;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 60vh;
  color: white;
  text-align: center;
  padding-top: 15%;
}

.btns-container {
    position: absolute;
    top: 0.5%;right: 0%;
    padding: 0px;
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    width: 100%;
    height: 10%;
    
    background-color: rgba(50, 116, 135, 0);
}


@media (max-width: 798px) {
.text-home  {
  position: absolute;
  top: 1rem;
  left: 70%;
  transform: translateX(-50%);
  z-index: 3;
}

.text-home {
    padding-right: 3rem;
}

.text-home h2 {
    position: relative;
    font-size: 1.3rem;
    margin: 0.3rem ;
    width: 20rem;
    
}

  .overlay-plan {
    padding-top: 10%;
  }

  .homepage-plan {
    height: auto; 
    min-height: 60vh; 
  }

  .bgd-img,
  .overlay-plan {
    height: auto;
    min-height: 60vh;
  }

  .bgd-img {
    height: 30vh;
  }
}



/*2compo planPicsText style -----------------*/
#body-picsText {
    display: flex;
    flex-direction: row;
    margin: 0.5%;
    padding: 0%;
    position: relative;
    margin-top: 2%;
    

}
.pics-container {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 80%;
    border-radius: 20%;

}
#seaPhoto,#beachPhoto,#airplanePhoto {
    border-radius: 80px;
    height: 50vh;
    width: 15vw;

}
#beachPhoto {
    border: 7px solid rgb(254, 252, 252);
    position: relative;
    right: 0;
    right: 20%;
    margin-top: 30%;
}
#airplanePhoto {
    border: 5px solid white;
    position: relative;
    right: 40%;
    margin-top: 60%;
}
.container1 {
    text-wrap: 100%;
   
}
 
.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 60%;
    
}
p ,h6 {
    color: rgb(40, 100, 98);
}
.side {
    height: 5%;
}

@media(max-width:650px){
    #seaPhoto,#beachPhoto,#airplanePhoto {
        display: none;
    }
}

/*----------- 3compo :TOP-DESTINATIONS CSS---------*/

.top-text h1 {
    color: rgb(19, 59, 72);
    margin-top: 0rem;
    margin-left: -1rem;
}

.scroll-wrapper h1,h4 {
      margin-left: 2rem;
}
 .destination img {
    position: relative;
    left: 0;
    padding: 0rem;
    margin: 0.01rem;
    object-fit: cover;
    width: 180px;
    height: 250px;
    border-radius: 8px;
   
} 

.destination h5 {
    margin-top: 0.3rem;
}
.destinations-scroll-wrapper {
      margin-top: 3%;
      margin-bottom:3% ;
      margin-left: 1rem;
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    gap: 23px;
    overflow-x: hidden ;
    overflow-y: hidden;
    
    
} 

 .destination {
    background-color: rgb(234, 239, 239);
    flex: 0 0 auto;
    margin: 1rem;
    padding: 1%;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.235);
} 
 .scroll-btn  {
    position: relative;
    
    left: 5%;
    border-radius: 5px;
    border: none;
    background-color:  rgb(40, 100, 98); 
    color:  rgb(223, 231, 230);
    width: 100px;
    height: 40px;
}

.scroll-btn :hover {
    color:  rgb(40, 100, 98); 
    background-color:  rgb(223, 231, 230);;
    z-index: 10;
    height: 40px;
} 

 bottom-text {
    margin-top: 50px;
}
.icon-b {
    color: rgb(208, 209, 212);
}
.icon-b h5 {
    color: rgb(181, 182, 183);
}

.Top-Destinations {
    margin: 0%;
    padding: 0%;
    margin-right: 0.5%;
   
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 85%;
    border-radius: 12px;
   
}
.top-text { 
  margin-left: 3%;

}
.destination h5 {
    margin-left: 4rem;
}

@media(max-width:796px){  

  .destination img {
    width: 150px;
    height: 20vh;
    border-radius: 12px;
  }

  .scroll-wrapper {
    font-size:0.7rem ;
  }


}
.destinations-scroll-wrapper {
   
      margin-top: 3%;
      margin-bottom:3% ;
      margin-right: 0.5%;
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    gap: 23px;
    overflow-x: hidden ;
    overflow-y: hidden;
    
    
}

html , body {
    overflow-x: hidden;   
  scroll-behavior: smooth;
}

.destination {
    flex: 0 0 auto;
    flex-wrap: wrap;

}
.scroll-btn  {
    position: relative;
    
    left: 5%;
      border-radius: 5px;
    border: none;
    background-color:  rgb(40, 100, 98); 
    color:  rgb(223, 231, 230);
    width: 100px;
    height: 40px;
}

.scroll-btn :hover {
    border-radius: 5px;
    border: none;
    background-color:  rgb(40, 100, 98); 
    color:  rgb(223, 231, 230);;
    width: 100px;
    height: 50px;
}

/*------4compo:SHOW PLAN STYLE ---------------------*/

.show-plan-container {
    margin-top: 10vh;
}

.show-plan {
    display: flex;
    flex-direction: column;
   background-color: rgba(56, 54, 54, 0.352);
   padding: 0;
   height: 37vh;
   border-bottom-right-radius: 30px;
   border-top-left-radius: 20px;
   border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.637);

}

.show-plan h2  {
    margin-left:6rem ;
    margin-top: 2rem;
    color: aliceblue;
}

.show-plan h5  {
    color: aliceblue;
    margin-top: 4rem;
}
.show-plan-container {
     display: flex;
    justify-content: center;
    align-items: end;
    gap: 45px;
}
.s-btn  {
    margin-top: 1rem;
    position: relative;
    border-radius: 5px;
    border: none;
    color:  rgb(40, 100, 98); 
    background-color:  rgb(249, 252, 252);;
    width: 200px;
    height: 45px;
    margin-left: 14%;
    font-size: large;
    z-index: 10;
    
}

.s-btn:hover {
    background-color:  rgb(40, 100, 98); 
    color:  rgb(244, 248, 248);;
   
    
    

}
 .show h3  {
    border-radius: 2px;
    background-color: rgba(74, 74, 74, 0.107);
    align-self: start;
    position: relative;
    padding-top: 60%;
    padding-left: 40%;
    color: aliceblue;
   

 }
 .show h6 {
    color: aliceblue;
    background-color: rgba(74, 74, 74, 0.107);
 }

@media(max-width:796px){
    .show-container {
        display: flex;
        flex-direction:column ;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        
    }
}

@media(max-width:650px){
    .show-plan-container {
        position: relative;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
 


/*-------5compo:COMMENTS SECTION -------------*/
.comments-body  {
   position: relative;
   top: 30px;
   height: 30vh;
}
.top-comments h1 {
    position: relative;
    left: 20%;
}

.top-comments h4 {
    margin-top: 5rem;
    position: relative;
    left: 35%;
}
  
  
  .comments-container {
    margin-bottom:auto ;
    margin: 0 auto;
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    gap: 2rem;
    overflow-x: hidden ;
    overflow-y: auto;
     border-radius: 20px;
    width: 60%;
    height: 40vh;
}

.scroll-comments-btn {
    position: relative;
    display:flex;
    gap: 80%;
    margin-left: 13%;
    top: 30%;
   
}

.comment {
    position: relative;
     flex:0 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgba(19, 29, 42, 0.612);
    width: 350px;
    height: auto;
    border-radius: 12px;
    margin-left: 2rem;
} 

.scroll-comment {
    position: relative;
    top: 40%;
    border-radius: 5px;
    border: none;
    background-color:  rgb(50, 78, 151); 
    color:  rgb(255, 255, 255);;
    width: 50px;
    height: 30px;
}

 .scroll-comment:hover {
    color:  rgb(45, 70, 180); 
    background-color:  rgb(255, 255, 255);;
    z-index: 10;
}
.pov {
    display: flex;
    flex-wrap: wrap;
    width: 20%;
}

.comment h4 {
    color:white;
    margin: 0.5rem 0;
    position: relative;
    width: 70%;
    line-height: 1.4;
    
}

@media(max-width:450px){
    .top-comments h1 {
        margin-top: 1rem;
        font-size: 1.4rem;
        margin-left: -2rem;
    }
    .top-comments h4 {
       
        margin-left: 0.5rem;
    }

    .comment {
        position: relative;
        margin-top: 2rem;
        height: 30vh;
        margin-left: 0.5rem;
       
    }

    .scroll-comments-btn {
       margin-left: 1rem;
    }

    .comment h1  {
        font-size: 25px;
    }

    .comment h4 {
        font-size: 0.9rem;
    }
}



/*---------6compo:footer ------*/

 .footer-container-plan {
    position: relative;
    display: flex;
    grid-template-rows: auto;
    justify-content: center;
    gap: clamp(0.1rem ,2.5rem ,2.5rem);
    margin-top: 50vh;
    padding-top: -2rem;
    max-width: 100%;
    height: 40vh;
    background-color: rgb(36, 101, 99); 
} 
.footer-item-s {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 6vh;
    margin-left: 8rem;
} 

@media(max-width:876px){
    .footer-plan {
        margin-top: 27rem;
    }

    .footer-container-plan {
    display: flex;
    grid-template-rows: 1fr 1fr ;
    gap: 1rem;
   
    margin-top: 50vh;
    padding-top: -2rem;
    max-width: 100%;
    height: 70vh;
    background-color: rgb(36, 101, 99); 
} 
.footer-item-plan {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 6vh;
    margin-left: 2rem;
} 

}

@media(max-width:540px){
    .footer-container-plan {
        display: grid;
        gap: 1rem;
        grid-template-rows: 1fr 1fr;
        height: 60rem;
    }
}

