*{
    padding: 0;
    margin: 0;
}

.background {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  
  min-height: 200vh;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}


.over {
  position: relative;
  display: flex;
  z-index: 2;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  
}

a {
    color: rgb(215, 61, 61);
    font-size: small;
}
.login {
    position: relative;
    margin-right: 3rem;
    background-color: rgba(10, 11, 11, 0);
    font-size: 2rem;
    
}

.login2 {
    margin-left: 5rem;
}

 header label,h5,h4  {
    
    color: rgb(31, 107, 118);
  font-family: 'Montserrat', sans-serif;
}

 .item1 {
  position: relative;
  margin-right: 5rem;
 

} 
header h1 {
  margin-left: 13rem;
}
header h4 {
  margin-left: 30px;
   width: clamp(20% 30% 50%);
   color: rgb(31, 107, 118);
}

.form-container-signup {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  width: 90%;
  max-width: 750px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}



.item2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 300px;
  margin-bottom: 2rem;
  margin-top: 2.5rem;
}

.item2 h5 {
  margin-bottom: 0rem;
  color: black;
}

.item2 input {
  width: 100%;
  height: 35px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid rgb(69, 135, 130);
  font-size: 1rem;
}

.error {
  margin-top: 0.2rem;
  font-size: 1rem;
  margin-left: 1rem;
  color: red;
}

.item3 {
  margin-top: 1.5rem;
  text-align: center;
}

.item-text h5{ 
  color: rgb(11, 6, 6);
}


#login-btn {
  width: 300px;
  height: 40px;
  margin-left: 0rem;    
  background-color: antiquewhite;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#login-btn:hover {
  background-color: rgb(100, 66, 28);
  color: antiquewhite;
}

#login {
  color: rgb(62, 99, 97);
  margin-right: 5rem;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .form-container-login {
    width: 70%;
    padding: 1rem;
    text-align: right;
  }

  .item2 input {
    height: 33px;
  }

  header h1 {
    font-size: 2rem;
    padding-right: 5rem;
  } 

  
}
@media(max-width:515px){
  
  #login-btn {
    margin-left: -2rem;
    width: 125%;
  }

}

@media (max-width:400px){
  .item2 {
   position: relative;
   margin-top: 33px;
  }  
  
}

@media(max-width:466px){
   #login  {
     padding-left: 3rem;
     width: 90vw;
     
   }
  #login-btn {
    width: 230px;
    margin-left: 0rem;
  }


}


